*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(../images/backgroundLp.png) right no-repeat;
    background-size: cover;
    color: white;
    background-color: #0A0A0A;
}

.container1{
    background-color: $background-color;
    max-width: 450px;
    height: auto;
}

.topLogo{
    width: 180px;
}

.paragraph{
    margin: 8px 0px;
}

.btnSend {
    color: $button-color;   
    border: 1px solid $button-color;

    &:hover{
        background-color: $button-color;
        color: white;
    }
}

.fotter{
    margin-top: 30px;
    margin-bottom: 30px;
}

